* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    background: url(../images/index.png) repeat-x scroll 50% 0px #EDF5FA;
}

p {
    font-size: 1.5em;
    margin-bottom: 15px;
}


a {
    color:#F8F8F8;
    text-decoration:none;
}

a:hover {
    color:#C0C0C0;
} 

#container {
    width: 660px;
    background: white;
    opacity: 0.6; /* CSS3 */
    padding: 50px 50px 20px 50px;
    margin: 20px auto;
    min-height: 500px;
    height: auto !important;
    height: 500px;
}

#header {
    padding: 28px 0px;
}

#menu-bar {
    width: 765px;
    margin: 0px auto;
    position: relative;
}

#main-form {
    margin-top: 25px;
}

#main-form input, #main-form textarea {
    padding: 5px;
    width: 471px;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#main-form textarea {
    height: 80px;
}

#main-form textarea:focus, #main-form input:focus {
    border: 2px solid #0099FF;
}

#main-form input.submit-button {
    width: 100px;
    float: left;
}

#content {
    margin-top: 78px;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.4em;
}
