<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Beadwork Calculator</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <div id="header">
        <div id="menu-bar">
            <h1><a href="/">Bead Calculator</a></h1>
        </div>
    </div>
    <div id="container">
        <h1>A Peyote Stitch Beadwork Calculator</h1>
        <div id="main-form"> 
            <form action="/bead_results" method="get">
                <p>Enter the total number of beads for your project:</p>
                <div>
                    <textarea name="beads_entered"></textarea>
                </div>
                <div>
                    <input type="submit" name="submit" class="submit-button" value="Submit"/>
                </div>
            </form>
        </div>

        <div id="content">{% block content %} {% endblock %}</div>
        
        <div style="clear: both;"></div>
    </div>
</body>
</html>